.blogsec-right {
    width: 350px;
    height: 500px;
    background-color: #1A202C;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #EDF2F7;
        font-size: 1.8rem;
        font-weight: 700;
        margin: 1.5rem;
        width: fit-content;
        
    }

    .categoria {
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid #d1d1d1;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        background-color: #2d3748;
        transition: .3s ease-in-out;
        margin-bottom: 2rem;

        &:hover {
            box-shadow: 0 5px 10px #4c4c4c;
            transform: translateY(-5px);
        }


        .categoria-img {
            background-color: #EDF2F7;
            height: 58px;
            width: 74px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;

            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        h3 {
            margin: 1rem;
            padding: 0;
            color: #EDF2F7;
        }
    }
}